.open_time {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  color: #d99904;
  font-style: italic;
  font-size: 18px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .open_time {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 480px) {
  .open_time {
    font-size: 0.5em;
  }
}
