.img_container {
  position: relative;
  margin: 0 auto 50px;
}
.img_container p {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 50px;
  bottom: 20px;
  font-size: 28px;
  font-family: var(--font-family);
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .mySwiper {
    width: 500px;
    margin: 0 auto;
  }
  .relative {
    width: 350px;
  }
}

@media screen and (max-width: 480px) {
  .mySwiper {
    width: 270px;
  }
}
