.slider {
  width: 100%;
  height: 100vh;
  /* max-height: 600px; */
  z-index: -3;
  margin-bottom: 100px;
}

/* this className "ul.thumbs.animated" i take from responsive react carousel */
ul.thumbs.animated {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  /* this className "carousel-root" i take from responsive react carousel */
  .carousel {
    height: 360px;
  }
  .carousel-root {
    height: 450px;
  }
  .slider-wrapper {
    height: 425px;
  }
  .slider {
    min-height: auto;
    height: 500px;
    margin-bottom: 0px;
  }
  .control-next {
    height: 340px;
  }
}

@media screen and (max-width: 480px) {
  .carousel-root {
    height: 350px;
  }
  .carousel {
    height: 260px;
  }
}
