.recommend_container {
  width: 100%;
  height: 800px;
  padding: 50px 0;
  margin: 0 auto;
  margin-bottom: 50px;
}

.recommend_food_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .recommend_container {
    padding: 0;
    height: 530px;
  }
}

@media screen and (max-width: 480px) {
  .recommend_container {
    height: inherit;
    padding-top: 30px;
  }
  .recommend_food_container {
    flex-direction: column;
  }
}
