.input_section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.input_section label {
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  margin-bottom: 8px;
}
.input_section input {
  border: none;
  outline: none;
  height: 72px;
  width: 560px;
  border-radius: 5px;
  padding: 0 18px;
  font-size: 16px;
  color: #444444;
}

.input_section input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #a1a1a1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .input_section input {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .input_section input {
    width: 100%;
  }
}
